html,
body {
    color: white;
    background-color: #21232A;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 80px;
}

button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
}